<!DOCTYPE html>
<html lang="zh-cn">

{% if page.image %}
<link rel="apple-touch-icon" href= {{"/img/" | prepend: site.baseurl | append : page.image}} >
<link rel="icon" href={{"/img/" | prepend: site.baseurl | append : page.image}}>
<meta name="msapplication-TileColor" content="#bbbdbf">
<meta name="msapplication-TileImage" content={{"/img/" | prepend: site.baseurl | append : page.image}}>	
<div style='margin:0 auto;display:none;'>
    <img src={{"/img/" | prepend: site.baseurl | append : page.image}} />
</div>
{% else %}
<link rel="apple-touch-icon" href= {{"/icon/" | prepend: site.baseurl | append : "favicon300x300.ico"}} >
<link rel="icon" href={{"/icon/" | prepend: site.baseurl | append : "favicon300x300.ico"}}>
<meta name="msapplication-TileColor" content="#bbbdbf">
<meta name="msapplication-TileImage" content={{"/icon/" | prepend: site.baseurl | append : "favicon300x300.ico"}}>	
<div style='margin:0 auto;display:none;'>
    <img src={{"/icon/" | prepend: site.baseurl | append : "favicon300x300.ico"}} />
</div>
{% endif %}

{% include head.html %}

<body>

    {% if site.google-analytics %}
    {% include google-analytics.html %}
    {% endif %}
    {% include loader.html %}
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    {% include javascripts.html %}

</body>

</html>