<!DOCTYPE html>
<html lang="zh-cn">

<link rel="apple-touch-icon" href="icon/favicon32x32.ico">
<link rel="icon" href="icon/favicon32x32.ico">
<!--[if IE]><link rel="shortcut icon" href="icon/favicon32x32.ico"><![endif]-->
<!-- or, set /favicon32x32.ico for IE10 win -->
<meta name="msapplication-TileColor" content="#bbbdbf">
<meta name="msapplication-TileImage" content="icon/favicon32x32.ico">	
<div style='margin:0 auto;display:none;'>
    <img src='icon/favicon300x300.ico' />
</div>

{% include head.html %}

<body>

    {% if site.google-analytics %}
    {% include google-analytics.html %}
    {% endif %}
    {% include loader.html %}
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    {% include javascripts.html %}

</body>

</html>